{{!-- app/templates/components/zz-alert.hbs --}}
{{#if dismissible}}
  <button {{action "close"}} class="close" type="button">
    <span aria-hidden="true">&times;</span>
    <span class="sr-only">Close</span>
  </button>
{{/if}}
{{#if title}}
  <h4>{{title}}</h4>
{{/if}}
{{#if message}}
  <p>{{message}}</p>
{{else}}
  <p>{{yield}}</p>
{{/if}}
