{{!-- app/templates/teams/show.hbs --}}
<div>
  <div class="one-of-two">
  <h1>{{name}}</h1>

  <p>
      Location: {{location}}
  </p>

  <p>
      Arena: {{arena}}
  </p>

  <p>      

  {{#if showUnsavedMessage}}
    <div class='unsaved'>unsaved changes</div>
  {{/if}}

  {{#if isSaving}}
    <div class='saving'>saving...</div>
  {{/if}}
  </p>
</div>
</div>
  <div class="two-of-two">
    <div class='clearfix'>
      <h3 class='float-left' style='margin-right: 20px'>{{levelName}}</h3>
      <h3 class='float-left' style='margin-right: 20px'>{{kindName}}</h3>
    </div> 
</div>
