{{! app/templates/leads/detail-ribbon.hbs }}
{{!-- {{#zz-button-bar}}
	{{#zz-button-group}}
		{{#link-to 'leads' classNames='btn btn-default btn-sm' activeClass=""}}<i class="glyphicon glyphicon-arrow-left"></i>{{/link-to}}
	{{/zz-button-group}}  
{{/zz-button-bar}}
 --}}
{{#zz-tab-bar}}
	{{#zz-tab-group}}
		{{zz-tab label='Client' linkTo='leads.show' resource=model}}
		{{zz-tab label='Details' linkTo='leads.details' resource=model}}
		{{zz-tab label='Tags' linkTo='leads.tags' resource=model}}
	{{/zz-tab-group}}

	{{#zz-tab-group}}
		{{#zz-dropdown}}
		  {{#zz-dropdown-tab-toggle}}
		    More <span class="caret"></span>
		  {{/zz-dropdown-tab-toggle}}

		  {{#zz-dropdown-menu tagName="ul" closeOnChildClick="a:link"}}
		    <li>{{#link-to 'leads.show' model}}Client{{/link-to}}</li>
		    <li>{{#link-to 'leads.details' model}}Details{{/link-to}}</li>
		    <li>{{#link-to 'leads.tags' model}}Tags{{/link-to}}</li>
		  {{/zz-dropdown-menu}}
		{{/zz-dropdown}}  
	{{/zz-tab-group}}
{{/zz-tab-bar}}

{{#zz-button-bar}}
	{{#zz-button-group}}
		{{#zz-tooltip data-tooltip='Vote this client up'}}
    	{{zz-button action='cancel' icon='glyphicon glyphicon-thumbs-up'}}
		{{/zz-tooltip}}  
		{{#zz-tooltip data-tooltip='Vote this client down'}}
    	{{zz-button action='cancel' icon='glyphicon glyphicon-thumbs-down'}}
		{{/zz-tooltip}}  
		{{#zz-tooltip data-tooltip='Update client photo'}}
    	{{zz-button action='cancel' icon='glyphicon glyphicon-camera'}}
		{{/zz-tooltip}}  
		{{#zz-tooltip data-tooltip='Delete this client!!!' kind='danger'}}
    	{{zz-button action='cancel' icon='glyphicon glyphicon-trash' }}
		{{/zz-tooltip}}
	{{/zz-button-group}}
	  
	{{#zz-button-group}}
		{{#zz-dropdown}}
			  {{#zz-dropdown-button-toggle}}
			    More <span class="caret"></span>
			  {{/zz-dropdown-button-toggle}}
		  {{#zz-dropdown-menu tagName="ul" closeOnChildClick="a:link" extraClasses='height-auto'}}
		    <li>{{#link-to 'leads.show' model}}Client{{/link-to}}</li>
		    <li>{{#link-to 'leads.details' model}}Details{{/link-to}}</li>
		    <li>{{#link-to 'leads.tags' model}}Tags{{/link-to}}</li>
		  {{/zz-dropdown-menu}}
		{{/zz-dropdown}}
	{{/zz-button-group}}  
{{/zz-button-bar}}
