{{! app/templates/leads/new.hbs }}
<div>
  <h1>New Lead</h1>

  {{#zz-form model=model}}
    {{! #if errors}}
      {{! zz-alert kind='danger' label='Invalid Username/Password'}}
    {{! /if}}

    {{zz-input property="firstName" label="First Name" placeholder="First Name"}}
    {{zz-input property="lastName" label="Last Name" placeholder="Last Name"}}
    {{zz-input property="email" label="Email" placeholder="Email"}}
    {{zz-input property="phone" label="Phone" placeholder="Phone"}}


    {{zz-button enabled=needsSaving action='save' kind='primary' label='Save' icon='glyphicon glyphicon-save' label-pending='Saving' icon-pending='fa fa-spinner fa-spin'}}
    {{zz-button action='cancel' label='Cancel'}}
  {{/zz-form}}

</div>
