{{!-- app/templates/clients/show-ribbon.hbs --}}
{{!-- {{#zz-button-bar}}
	{{#zz-button-group}}
		{{zz-button linkTo='clients' activeClass="" icon='glyphicon glyphicon-arrow-left'}}
	{{/zz-button-group}}  
{{/zz-button-bar}} --}}
{{#zz-tab-bar}}
	{{#zz-tab-group}}
		{{zz-tab label='Client' linkTo='clients.show' resource=model}}
		{{zz-tab label='Details' linkTo='clients.details' resource=model}}
		{{zz-tab label='Tags' linkTo='clients.tags' resource=model}}
	{{/zz-tab-group}}
 
	{{#zz-tab-group}}
		{{#zz-dropdown}}
		  {{#zz-dropdown-tab-toggle}}
		    More <span class="caret"></span>
		  {{/zz-dropdown-tab-toggle}}
		  
		  {{#zz-dropdown-menu tagName="ul" closeOnChildClick="a:link"}}
		    <li>{{#link-to 'clients.show' model}}Client{{/link-to}}</li>
		    <li>{{#link-to 'clients.details' model}}Details{{/link-to}}</li>
		    <li>{{#link-to 'clients.tags' model}}Tags{{/link-to}}</li>
		  {{/zz-dropdown-menu}}
		{{/zz-dropdown}}
	{{/zz-tab-group}}  
{{/zz-tab-bar}}

{{#zz-button-bar}}
	{{#zz-button-group}}
		{{!zz-clip-button clipText='This should now be the text in the clipboard!' icon='glyphicon glyphicon-copy'}}
		{{!#zz-tooltip data-tooltip='Copy message to clipboard'}}
			{{!zz-clip-button clipTarget='target-text' icon='glyphicon glyphicon-copy'}}
		{{!/zz-tooltip}}  
 		{{#zz-tooltip data-tooltip='Call'}}
	  	{{zz-button action='cancel' icon='glyphicon glyphicon-earphone'}}
		{{/zz-tooltip}}  
 		{{#zz-tooltip data-tooltip='Send Email'}}
    	{{zz-button action='cancel' icon='glyphicon glyphicon-envelope'}}
		{{/zz-tooltip}}  
 		{{#zz-tooltip data-tooltip='Send Text'}}
    	{{zz-button action='cancel' icon='fa fa-keyboard-o'}}
		{{/zz-tooltip}}  
	{{/zz-button-group}}

	{{#zz-button-group}}
		{{#zz-dropdown}}
			  {{#zz-dropdown-button-toggle}}
			    More <span class="caret"></span>
			  {{/zz-dropdown-button-toggle}}
		  {{#zz-dropdown-menu tagName="ul" closeOnChildClick="a:link" extraClasses='height-auto'}}
		    <li>{{#link-to 'clients.show' model}}Client{{/link-to}}</li>
		    <li>{{#link-to 'clients.details' model}}Details{{/link-to}}</li>
		    <li>{{#link-to 'clients.tags' model}}Tags{{/link-to}}</li>
		  {{/zz-dropdown-menu}}
		{{/zz-dropdown}}
	{{/zz-button-group}}  
{{/zz-button-bar}}
<div id="target-text" class="hidden">
A autem delectus aut perferendis ut culpa vel. Sed dolore et qui est repellendus ipsa incidunt. Et soluta ex iusto. Fuga et odio nesciunt voluptas et repudiandae saepe.

Eum minima nihil odio et. Incidunt odit praesentium alias velit et voluptate. Rerum est consequatur aut error. Impedit voluptates dolorem velit.

Dignissimos ex iusto accusantium qui quia. Accusantium iusto ut vitae. Repellendus doloremque eveniet et sequi laborum.

Ea numquam id. Placeat unde id dignissimos quisquam omnis excepturi. Magni officiis eveniet ea qui iste sint.
</div>
