{{! app/templates/application.hbs }}
<div class="page">

    <div class="banner">
      {{outlet "banner"}}
      {{#if session.isAuthenticated}}
        {{#link-to 'sessions.logout'}}Logout{{/link-to}}
      {{else}}
        {{#link-to 'sessions.login'}}Login{{/link-to}}
      {{/if}}
    </div>

    {{#if session.isAuthenticated }}
      <div class="sidebar">
        <div class="sidebar-ribbon">
          {{outlet "sidebar-ribbon"}} 
        </div>
        <div class="sidebar-main">
          <div class="sidebar-inner">
            {{outlet "sidebar-main"}}      
          </div>
        </div>
      </div>

      <div class="workspace">
          <div class="workspace-ribbon">
            {{outlet "workspace-ribbon"}}
          </div>
          <div class="workspace-main">
            <div class="workspace-inner">
              {{outlet "workspace-main"}}
              {{outlet}}
            </div> 
          </div> 
      </div>
    {{else}}
      <div class="workspace-full">
        <div class="workspace-main">
          <div class="workspace-inner">
            {{outlet}}
          </div> 
      </div> 
      </div> 
    {{/if}} 


</div>