{{! app/templates/lead.hbs }}
{{outlet}}

{{#unless isEditing}}
<div class="">  
  <h1>{{fullName}} {{#link-to 'lead.edit' model classNames='btn btn-default btn-xs'}}edit{{/link-to}}</h1>
  <p>
      Email: {{email}}
  </p>

  <p>
      Phone: {{phone}}
  </p>

  <p>
      Notes: {{notes}}
  </p>

  <p>      

  {{#if showUnsavedMessage}}
    <div class='unsaved'>unsaved changes</div>
  {{/if}}

  {{#if isSaving}}
    <div class='saving'>saving...</div>
  {{/if}}
  </p>
</div>


{{/unless}}
